/* font for body text */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* font for h1 */
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&display=swap');



/* Css reset from https://meyerweb.com/eric/tools/css/reset/reset.css*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* setting default */
html {
  font: 100%;
  scroll-behavior: smooth;
  scrollbar-color: #8874747b #e9e9e5;
}

body {
  background-color: #e9e9e5;
}


/* the background image */
body::before {
  content: "";
  /*  taken from https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png */
  background-image: url("wallpaperflare.com_wallpaper\ \(6\).jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  z-index: -1;
}

h1,
.profile ul li span:first-child {
  font-family: "Ultra", serif;
}

h2 {
  font-size: 3em;
  font-family: "Lobster", sans-serif;
  margin-bottom: 20px;
  color: #8f1111;
}

/* setting fonts */
#files a,
h3,
h4 {
  font-family: "Lobster", sans-serif;

}


p,
li,
span {
  margin: 10px 0;
  line-height: 2rem;
  font-family: "Roboto Slab", serif;
}

strong {
  font-weight: 800;
}


a {
  text-decoration: none;
  color: #005645;
  font-weight: 600;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
  color: #016420;

}

/* settign the skip link */
.skip-link {
  position: absolute;
  top: 0;
  left: -10000px;
  font-size: 14px;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.3rem;
}

blockquote {
  padding: 1.3%;
  margin-top: 2%;
  background-color: #a988b44d;
}

blockquote p {
  margin: 0;
}

blockquote a {
  color: rgba(90, 133, 120, 0.477);
}

ol li {
  background-color: antiquewhite;
  padding: 2%;
}


ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/* header */
header {
  height: 100vh;
  text-align: center;
  margin-right: 40%;
}

header h1 {
  padding: 10%;
  color: #19929d;
  font-optical-sizing: auto;
  font-size: 9em;
  font-weight: 500;
  text-shadow: -5px 6px 0px #4e5956;
}

header h1:hover {
  animation: glow 0.5s forwards ease-in-out;
}

header h1:not(:hover) {
  animation: unglow 0.5s forwards ease-out;
}

@keyframes glow {
  0% {
    text-shadow: -5px 6px 0px #4e5956;
  }

  100% {
    text-shadow: -20px 20px 0px #4e5956;
  }

}

@keyframes unglow {
  0% {
    text-shadow: -20px 20px 0px #4e5956;
  }

  100% {
    text-shadow: -5px 6px 0px #4e5956;
  }

}


header p {
  margin-bottom: 3%;
}


header .link-github {
  font-size: 2rem;
}


header svg {
  width: 1.5rem;
}

/* nav  section*/
nav ul li {
  margin: .3%;
  padding: 1%;
  font-size: 1.2em;

}

nav ul li a {
  transition: .25s ease-in-out;
  border: 10px;
}

nav ul li a:hover {
  color: rgb(41, 78, 17);
}




/* main  section */

main section.container,
#styles,
.profile,
nav {
  margin: 2rem auto 0;
  max-width: 86%;
  border-bottom: 2px solid #473e142b;
  padding: 0 1rem 2rem;
}

/* nav */
nav {
  margin: 1% auto 0;
  border-bottom: 2px solid #473e142b;
  padding: 10px;
}


main ul li {
  margin: .3%;
  padding: 1%;
  font-size: 1.5em;
}

main article .container h3 {
  font-size: 2rem;
  margin-bottom: 2%;
  color: #005645;
  font-weight: 600;
}

main #about ul {
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

/* the text gif is taken from  https://i.pinimg.com/originals/e0/96/a0/e096a00fb0a55cf0f8bc0ef69db0b59b.gif */
main #guidelines h3 {
  background-image: url("https://i.pinimg.com/originals/e0/96/a0/e096a00fb0a55cf0f8bc0ef69db0b59b.gif");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-size: cover;
  margin: 1%;
}

main ul li {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: #bc955b;
  font-weight: 600;
}

#contribute section:first-child {
  border: none;
  padding: 20px;
}

#contribute section:last-of-type {
  margin-top: 2rem;
}

#contribute ol {
  list-style-type: decimal;
}

#contribute li {
  font-family: 'Courier New', Courier, monospace;
  background: #93a2a843;
  margin: 5px;
  padding: 15px;
  font-size: 1rem;
}


#files {
  margin: 6% 0 0 6%;
  width: 50%;
  float: left;
}

#files a {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
  background-image: linear-gradient(#93a2a843, #a091ac94);
  background-attachment: fixed;
  font-weight: 100;
  display: inherit;
}



/* aside one */
.profile {
  float: right;
  width: 30%;
  margin: 6% 7% 0 0;
  padding: 3%;
  background-image: linear-gradient(#93a2a843, #a091ac94);
  border-radius: 10px;
}

.profile h4 {
  font-size: 2rem;
  margin: 2%;
  font-weight: 600;
  color: #005645;
}

.profile ul {
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;

}

.profile ul li span:first-child {
  font-weight: 100;
}

#profile-title~a,
.link-allstyles {
  margin: 0.3%;
  padding: 1%;
  font-size: 1.8rem;
  font-family: "Lobster";
}

/* aside second */
#styles {
  display: inline-block;
  border: none;
}

#styles .container {
  display: inherit;
  margin-left: 17%;
}



#styles ul {
  margin: 3%;
  justify-content: space-between;
  width: 25rem;
  flex-direction: column;
  text-align: center;

}

#styles ul li {
  background-image: linear-gradient(#93a2a843, #776c8094);
  background-attachment: fixed;
  padding: 3%;
  border-radius: 10px;
}


#styles span span {
  font-size: 1rem;
}

#styles .link-allstyles {
  padding-left: 3%;

}


/* footer */

.page-footer {
  margin-top: 2%;
  background-color: #776c803a;

}

.page-footer li {
  margin: 0;
  font-size: 1.2rem;
}

.page-footer svg {
  width: 1rem;
}


.page-footer p {
  margin: 15px 6%;
}

.page-footer p:last-of-type {
  margin-bottom: 0;
}


/* /screen queries */
@media screen and (max-width:900px) {

  html {
    font-size: 90%;
  }

  body::before {
    background-position: 67%;
    height: 95%;
  }

  header {
    margin-right: 20%;
    text-align: start;
    height: 67vh;
    padding-top: 50%;

  }


  header .container {
    padding: 23% 10% 0 10%;

  }

  header h1 {
    font-size: 4em;
    padding: 0;
    padding-bottom: 10%;
  }

  h2 {
    font-size: 2.5rem;
  }

  nav ul {
    justify-content: space-between;
    column-gap: 1px;
  }

  nav ul li {
    padding: 0;
  }

  nav a {
    font-size: 12px;
  }


  #files {
    width: 85%;
    float: none;

  }

  .profile {
    width: 80%;
    float: none;
    margin: 10% 0 5% 8%;
  }

  .profile h4 {
    font-weight: 200;
    font-size: 1.7rem;

  }

  #styles {
    margin: 0;
    padding: 1rem;
  }

  #styles .container {
    margin: 5% 0 10% 8%;
  }

  #styles ul {
    width: 20rem;
  }

  footer a {
    font-size: 1rem;
  }
}
