@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --color-background: #91e39f;
  --color-text: #000000;
  --color-text-secondary: rgb(36, 119, 72);
  --color-light: #fff;
  --color-anchor: #3a00ff;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 100%;
}

body {
  background-color: #d1d1cc;
}

p,
h2,
li {
  color: black;
}

body::before {
  content: "";
  /* https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png */
  background-image: url("wallpaperflare.com_wallpaper\ \(6\).jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  z-index: -1;
}

nav {
  margin-top: 3px;
}


header {
  height: 100vh;
  text-align: center;
  margin-right: 40%;
}

header p {
  margin-bottom: 3%;
}


header .link-github {
  background-color: #cfe5e0;
  font-size: 2rem;
}

h1 {
  padding: 10%;
  /* text-align: start; */
  color: #005645;
  font-family: "Source Serif 4", serif;
  font-size: 9rem;
  font-weight: 700;
}


article {
  margin: 30px;

}


h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 3% 0;
  /* font-family: ; */
  color: #ee1c25;
  /* #bb0602 */
}

h3 {
  font-size: 2rem;
  margin-top: 2%;
  color: #005645;
  font-family: "Source Serif 4", serif;
  font-weight: 600;
}

p {
  margin-top: 2%;
  line-height: 1.5rem;
  font-family: "Roboto Slab", serif;
}

strong {
  font-weight: 800;
}

header svg {
  width: 1.5rem;
}


a {
  text-decoration: none;
  color: #005645;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: #016420
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul li {

  margin: .3%;
  padding: 1%;
  font-size: 1.5em;

}

ul li img {
  max-width: 100%;
  /* Make images responsive within list items */
  height: auto;
  /* Maintain aspect ratio */
}


nav ul li::before {}

nav ul li:hover {
  animation-name: hover_li;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes hover_li {
  from {
    background-color: white;
  }

  to {
    background-color: #26ff00;
  }
}





.skip-link {
  position: absolute;
  top: 0;
  left: -10000px;
  font-size: 14px;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.3rem;
}

blockquote {
  padding: 1.3%;
  margin-top: 2%;

  background-color: #a8656f;
}

blockquote p {
  margin: 0;
  color: white;
}

blockquote a {
  color: rgb(91, 25, 96);
}

ol li {
  background-color: antiquewhite;
  padding: 2%;
}

#files {
  width: 40%;
}

.profile {
  position: relative;
  float: right;
  bottom: 83px;
}

#profile-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}


.profile ul {
  display: block;

}

.profile ul li {
  font-size: 1.3rem;
}

main li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: #bc955b;
  font-weight: 600;
}


.container {
  margin: 20px;
}

#contribute li {
  font-family: 'Courier New', Courier, monospace;
  background: rgba(147, 162, 168, 0.262);
  margin: 5px;
  padding: 15px;
  font-size: 1rem;
}

#contribute li:nth-of-type(n)::before {
  content: "n";
  background-color: #000000;

}

.page-footer {
  background-color: #cbbfbf;

}

.page-footer ul {
  justify-content: center;
}

.page-footer li {
  margin: 0;
  font-size: 1.2rem;
}

.page-footer svg {
  width: 1rem;
}